.body {
  background-color: #f3f3f4;
}
.profile-wrapper {
  height: 100vh;
  overflow-y: scroll;
  background-color: #f3f3f4;
  padding-bottom: 50px;
}

.profile-wrapper::-webkit-scrollbar {
  display: none;
}

.profile-wrapper .navbar {
  position: absolute;
  top: 7%;
  right: 10%;
  z-index: 100;
  background-color: #fff;
  border-radius: 6px;
  padding: 10px;
  display: none;
}
.profile-container {
  width: 100%;
  min-height: 150vh;
  position: relative;
  animation: rise 0.2s linear forwards;
}
.background-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 10px;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 32%;
  background: linear-gradient(rgba(26, 26, 26, 0.6), rgba(26, 26, 26, 0.6)),
    url("https://github.com/chiscookeke11/Test-pagea/blob/main/profile-background.jpg?raw=true");
  box-shadow: 0px 0px 3px 0px #3c485826;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
}
header h1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 27.63px;
  text-align: left;
}
.upper-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 30px;
  z-index: 10;
  gap: 20px;
}
.personal-details {
  background-color: #fff;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 15px;
  font-family: "League Spartan", sans-serif;
  max-width: 225px;
  max-height: auto;
  min-width: 200px;
  min-height: 650px;
  margin: 0px 10px;
  box-shadow: 0px 0px 3px 0px #3c485826;
}
.profile-pic {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin: 10px 0px;
}
.personal-details h2 {
  font-family: "League Spartan", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  color: #161c2d;
}
.personal-details h4 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 27.63px;
  text-align: center;
  color: #94a3b8;
}
.personal-details a {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 27.63px;
  text-align: center;
  color: #ff3b30;
}
.p-details {
  width: 100%;
  text-align: left;
  margin: 30px 0 0 20px;
  align-self: initial;
}
.detail-boxes img {
  width: 15px;
  height: 15px;
}
.detail-boxes {
  width: 100%;
  padding: 20px 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.detail-boxes li {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 5px 0;
  padding: 3px 0;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.detail-boxes li span {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.detail-boxes li span h1 {
  color: #16a34a;
  font-size: 1rem;
  font-weight: 500;
  line-height: 25.5px;
  text-align: left;
  margin-bottom: 0;
}
.detail-boxes li span small {
  color: #94a3b8;
  font-family: League Spartan;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.asset-list {
  max-width: 819px;
  height: auto;
  padding: 10px 0;
  font-family: "League Spartan", sans-serif;
}
.asset-list .summary {
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
  margin: 20px 0;
  min-height: 170.88px;
  max-height: auto;
  width: 100%;
  box-shadow: 0px 0px 3px 0px #3c485826;
  min-width: 340px;
}
.asset-list .summary h1 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: #000000;
  margin: 7px 0;
}
.asset-list p {
  color: #94a3b8;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: left;
}
.asset-list .assets {
  width: 100%;
  background-color: #fff;
  border-radius: 6px;
  padding: 20px;
  max-width: 819px;
  height: auto;
  min-height: 50vh;
  max-height: auto;
  box-shadow: 0px 0px 3px 0px #3c485826;
}
.assets h1 {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 28px;
  color: #161c2d;
}
.assets p {
  color: #00000075;
  width: 100%;
  height: auto;
  position: relative;
}
.assets p::after {
  content: "No assets yet";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 30vh;
}

@media (max-width: 768px) {
  .personal-details {
    background-color: #fff;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 10px;
    font-family: "League Spartan", sans-serif;
    max-width: 225px;
    max-height: auto;
    min-width: 200px;
    min-height: 650px;
    margin: 0px 10px;
    box-shadow: 0px 0px 3px 0px #3c485826;
  }
  .profile-wrapper .navbar {
    display: block;
  }
  .upper-layer {
    flex-wrap: wrap;
  }
  .upper-layer .personal-details {
    flex-wrap: wrap;
    width: 100%;
    min-width: 340px;
    max-width: 700px;
  }
  .personal-details ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }
  .personal-details ul li{
    padding: 0px 10px;
  }


}
