.features{
    width: 100%;
    padding: 50px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.features .text{
    width: 60%;
    max-width: 608px;
    min-width: 350px;
}
.features small{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.8px;
    letter-spacing: 1px;
    text-align: left;
    color: #24C2A5;
    margin: 20px 0;
}
.features h1{
    font-family: "Syne", sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 51.6px;
    text-align: left;
    margin: 10px 0px;
    color: #040119;
    width: 100%;
}
.features p{
    color: #000000;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    width: 95%;
    padding: 7px 0 5px 0;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);  
    gap: 20px; 
    width: 60%;
    text-align: left;
    min-width: 320px;
  }
  .grid-item {
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
  .grid-item h2{
    font-family: "DM Sans", system-ui;
    font-size: 35px;
    font-weight: 800;
    line-height: 78.12px;
    text-align: center;
    color: #24C2A5;
  }
  .grid-item h5{
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 29.05px;
    text-align: center;
  }
  .features-img{
    max-width:342px;
    max-height: 342px;
    position: relative;
  }
  .feature-image{
    width: 90%;
    height: 90%;
    margin: 0 auto;
    position: relative;
  }
























  @media(max-width:768px){
    .features h1{
        font-family: "Syne", sans-serif;
        font-size: 25px;
        font-weight: 600;
        line-height: 31px;
        text-align: initial;
        color: #040119;
    }
    .features p{
        color: #000000;
        font-family: "DM Sans", sans-serif;
        font-size: 18px;
        width: 100%;
    }
    .grid-item h2{
        font-family: "DM Sans", system-ui;
        font-size: 20px;
        font-weight: 800;
        line-height: 28px;
        text-align: center;
        color: #24C2A5;
      }
      .grid-item h5{
        font-family: "Inter", sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
        text-align: center;
      }
      .features{
        padding: 20px 10px;
    }



  }


  @media(max-width:1024px){
    .features .text{
      width: 50%;
      max-width: 608px;
      min-width: 350px;
  }
  .features-img{
    max-width:342px;
    max-height: 342px;
    width: 50%;
  }
  }