@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.custom-connect-button button {
  background-color: #24c2a5 !important;
  color: white !important;
  border: none !important;
  width: 9rem;
  height: 3rem;
}

.custom-connect-button button:hover {
  background-color: white !important;
  color: #24c2a5 !important;
}

nav a.active {
  color: #24c2a5;
}


.buttonInvest button {
  padding: 0.5rem 1rem !important;  
  background-color: #24c2a5 !important; 
  color: white !important; 
  border-radius: 0.5rem !important; 
  transition: background-color 0.3s ease !important; 
}

.buttonInvest button:hover  {
  background-color: #1da88d !important; 
}
.map_page{
  width: 100%;
  background: linear-gradient(135deg, #24c2a5 0%, #0d7a66 80%);
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  min-height:100vh;
  height: auto;
}
.map_page button {
  align-self: flex-start;
}