.banner{
    font-family: "Montserrat", system-ui;
}
.hero{
    width: 100%;
    background: #fff url("../../assets/Section.webp");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: auto;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    position: relative;
}
.text{
    width: 60%;
    min-width: 350px;
    max-width: 854px;
    margin: 40px 0px;
    padding: 10px;
}
.text h1{
font-size: 3.75rem;
font-weight: 700;
text-align: center;
margin: 0;
}
.text p{
    text-align: center;
    padding: 15px;
    color: #111111;
}
.button-holder{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
}
button{
    width: 28%;
    min-width: 145px;
    max-width: 150px;
    padding: 16px 0px;
    border-radius: 10px;
    border: 1px;
    text-align: center;
    font-weight: bold;
    min-height: 54px;
}
.button-holder button:nth-of-type(1){
    border: 1px solid #111111;
    background:transparent;
    color: #111111;
}
.button-holder button:nth-of-type(2){
    border: 1px solid #24C2A5;
    background-color: #24C2A5;
    color: #ffffff;
}
.main-img{
max-width: 500px;
max-height: 600px;
padding:20px 30px 40px 30px;
gap: 0px;
border-radius: 40px 40px 0px 0px;
background-color: #111111;
font-family: "DM Sans", sans-serif;
}
.main-img .label h4{
    font-size: 1.625rem;
    font-weight: 700;
    text-align: left;
    color: #ffffff;
}
.main-img .label p{
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color:#A0A0A1;
}
.asset-card{
    position: absolute;
    max-width: 13.54vw;
    max-height: 30vh;
    padding: 10px;
    min-height: 150px;
    min-width: 150px;
}
.asset-card img{
    width: 90%;
    height: 60%;
}
.assetcard1{
    top: 18%;
    right: 0;
}
.assetcard2{
    top: 75%;
    right: 2%;
}
.assetcard3{
    top: 70%;
    left: 10%;
}
.assetcard4{
    top: 22%;
    left: 0;
}































@media(max-width:768px){
    .text{
        width: 60%;
        min-width: 370px;
        max-width: 854px;
        margin: 40px 0px;
        padding: 10px;
    }
    .text h1{
        font-size: 1.8rem;
    }
    .asset-card{
        display: none;
    }

}

@media(max-width:1024px){
    .assetcard3{
        top: 70%;
        left: 3%;
    }
    .text{
        width: 100%;
        min-width: 370px;
        max-width: 854px;
        margin: 40px 0px;
        padding: 10px;
    }
    .assetcard1{
        top: 30%;
        right: 0;
    }
    .assetcard4{
        top: 32%;
        left: 0;
    }
}