.AccountDropdownMenu_menuContent__div2ql2 {
  width: 100% !important;
  text-align: center !important;
  border: 1px solid gray !important;
}

@media (max-width: 902px) {
  .connect-button button {
    height: 50px !important;
    width: 10rem !important;
  }
}
